.content {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form {
    border: 1px solid black;
    width: 50%;
    min-width: 350px;
    height: 80vh;
    display: grid;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px gray;
}

.form_item {
    display: grid;
    position: relative;
    width: 100%;
    left: 2rem;
    height: 8vh;
}

.form_item input {
    background: none;
    height: fit-content;
    padding: 0.2rem 0.1rem;
    border-radius: 4px;
    width: 80%;    
    box-shadow: 0 10px 10px 10px rgb(193, 192, 192);
}

.form_item label {
    position: absolute;
    left: 0.5rem;
    top: 0rem;
    padding: 0.1rem 0.1rem;
    color: gray;
    z-index: -1;
    transition: .3s;
}

.form_item input:focus ~ label, .form_item input:valid ~ label {
    top: -1rem;
    font-size: 0.8rem;
    z-index: 100;
    left: 8px;
    color: black;
    background-color: white;
}

.error {
    color: red;
    background: none;
    position: absolute;
    bottom: 0;
}