.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    position: relative;
    padding-top: 1rem;
}

.search input {
    padding: 0.2rem 0.1rem;
    /* border: none; */
    background: none;
    border-radius: 4px;
}

.search input:hover {
    box-shadow: 0 0 10px 15px gray;
}

button {
    margin-left: 1rem;
}

.search button:hover {
    box-shadow: 10px 0 10px 15px gray;
}


.search label {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    color: rgb(0, 0, 0);
    padding: 0.1rem 0.1rem;
    z-index: -1;
    transition: .3s;
    background: none;
}

.search input:focus ~ label, .search input:valid ~ label {
    top: 0;
    font-size: 0.8rem;
    z-index: 100;
    left: 8px;
    background-color: rgb(255, 255, 255);
}